doctype html
html(lang="en")
    head
        meta(charset='utf=8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Coastguard North Shore')
        meta(name='author', content='Andrew Smith')
        
        link(rel='shortcut icon', href='/images/favicon.ico')
        
        title Coastguard North Shore
        
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        
        <!--[if lt IE 9]>
        <script src="/js/ie8/html5shiv.js"></script>
        <script src="/js/ie8/respond.min.js"></script>
        <![endif]-->
    
    
    body
    
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                    a.navbar-brand(href='#') Coastguard North Shore
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Gallery
                        li
                            a(href='#') Membership
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown') Resources
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='#') Education
                                li
                                    a(href='#') Weather / Tide
                                li
                                    a(href='#') Boating Tips
                                li
                                    a(href='#') Links
                        li
                            a(href='#') Contact Us
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') Crew Login
    
        .container
            .jumbotron
                h1 Coastguard North Shore
                p This is the example website
                p More content to follow
                
                
                
                
                
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        
        
        block content